[2016-11-09 21:39] richpomfret opened #1 "Contact potential funding sources"
Make contact with potential funders. Explore how this may shape our project requirements

[2016-11-09 21:44] richpomfret opened #2 "Create Online Transcription project requirements doc (high level)"
In oder to cater for Plan A (we develop independently) or Plan B (co-developed in partnership with funder i.e. Zooniverse).

[2016-11-09 21:47] richpomfret opened #3 "Organise TASc meeting"
In order to discuss how we plan to build the online tool.

Need to establish project requirements before we can do this.

[2016-11-09 21:49] richpomfret opened #4 "Create Technical Specification draft for Scribe"
Initially brief/high-level technical description/plan for how we plan to deliver the project requirements. Should form basis of funding application and can become as detailed as needed (but not more than necessary).

Requires approval via TASc before we can complete.

[2016-11-09 21:52] richpomfret opened #5 "Create high level schedule"
To include critical development path, rough estimates (planning poker or t-shirt sizes?)

[2016-11-09 21:53] richpomfret opened #6 "Create high level budget/resource/delivery plan"
Outline delivery plan across X number of sprints/milestones and include all project costs.

[2016-11-09 21:54] richpomfret opened #7 "Create risk assessment log"
Outline project risks and how we will mitigate them.

[2016-11-28 17:11] richpomfret commented on #1
Pat to contact Brooke (Jewish Genealogy/Reclaim the records) for a discussion via developing tool which she can use in her organisations.

[2016-11-28 17:13] richpomfret opened #8 "Contact Catholic Records Society"
For us to contact with regard to potential funding.

[2016-11-28 17:14] richpomfret opened #9 "Contact wellcome institute/trust"
To contact/arrange call for potential funding.

[2016-11-28 17:15] richpomfret commented on #1
Note - this task will be split into smaller/more specific tasks and added to Ready.

[2016-11-28 17:16] richpomfret opened #10 "Contact Brooke (Jewish Genealogy) to discuss needs of RtR and GG"
Contact Brooke (Jewish Genealogy/Reclaim the records)

[2016-11-28 17:18] richpomfret opened #11 "Talk to Richard Light (History of health)"
Who do we know who might be interested in this large/big data project.

[2016-11-28 17:23] richpomfret opened #12 "Review open-calls (Zooniverse) for applications"
Review application process and documents - what will be needed and when?

[2016-11-28 17:27] richpomfret opened #13 "Look at details of Institute for Museum and Library Sciences (IMLS)"
Explore grant application for this.

[2016-11-29 10:41] PatReynolds opened #14 "Wellcome - eligible host organisation status"
Need to check our status.

[2016-11-29 18:08] PatReynolds commented on #12
The zooniverse folder now has in it the funders's sheet for Zooniverse, which has a link to the generic call-for-applications, and the questions from the current Biomedical projects open call.

I've put the questions from the generic and specific calls into a single document - over to Ben to fill in the technical answers (the intern can do the basic who, etc., and I'll do the rest.

[2016-11-30 12:37] PatReynolds commented on #13
Details now on Zooniverse file.

[2016-11-30 14:40] benwbrum commented on #8
I've researched the history of the organization, found their most recent couple of annual reports to get a good idea of their membership and current projects, and sent email to the general secretary.

[2016-12-02 16:21] PatReynolds opened #15 "Source grant for post 1983 FreeBMD"
Trac #540 referrs

[2016-12-02 16:26] PatReynolds opened #16 "Research ODINE"
https://opendataincubator.eu/apply/

[2016-12-12 16:37] PatReynolds opened #17 "HLF Training Bursaries"

[2016-12-12 16:37] PatReynolds opened #18 "Research Paticipatory Digitization Charity"

[2016-12-19 10:36] PatReynolds opened #19 "Investigte Floyd for Open Data"

[2016-12-19 14:04] benwbrum commented on #8
No response from the general secretary as of 2016-10-19

[2016-12-19 14:09] #12 closed, assigned to benwbrum, PatReynolds

[2016-12-19 14:09] #11 closed, assigned to PatReynolds

[2016-12-19 14:09] #13 closed, assigned to PatReynolds

[2016-12-19 14:14] PatReynolds commented on #10
try via Open Genealogy group

[2016-12-19 14:19] richpomfret commented on #19
More details required.

[2016-12-19 14:23] richpomfret commented on #14
Dependency on 9.

[2016-12-19 14:27] richpomfret commented on #3
Key questions here depend upon the funding approach i.e. Zooniverse and how we build this. Is this our tool? How is it accessed etc (to raise with trustees prior to TASc).

[2016-12-19 14:43] PatReynolds opened #20 "How much of each project is handwritten?"

[2016-12-19 14:43] PatReynolds opened #21 "Send Ben FreeWILL stuff"

[2016-12-19 15:23] PatReynolds commented on #19
J A Floyd Charitable Trust - on the spreadsheet.

On 19 December 2016 at 14:19, Rich Pomfret <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A charity registered in England and Wales, number 1096940, transitioning to
a Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT re

[2016-12-19 15:53] PatReynolds commented on #19
Need costs of building volunteers' gateway before application can move forwards

[2016-12-19 16:59] benwbrum commented on #9
Email sent to Chris and Pat today.

[2016-12-19 18:47] benwbrum commented on #8
James at the CRS is very interested in meeting after Christmas.  Attempting to set up a meeting on the week of January 9-13.

[2016-12-23 00:15] carobin589 commented on #17
Document available in the G-drive, Fundraising >> Other Funding. Is a currently open programme (looking for a second round of funding options in 2017). Document includes the aims of the programme, offers grants ranging from £100,000 to £750,000 (most of the awarded funding is at the higher end of this scale), and two options that I think might provide funding opportunities for us.

[2016-12-28 13:56] PatReynolds opened #22 "Potential partners list"

[2016-12-28 14:12] DeniseColbert commented on #15
Pat to contact Pat and Barrie for costs

[2016-12-28 14:18] DeniseColbert commented on #17
Pat to review

[2016-12-28 14:21] #19 closed, assigned to carobin589

[2016-12-28 14:21] #16 closed, assigned to carobin589

[2016-12-28 14:24] DeniseColbert commented on #18
Pat to send email to Clare

[2016-12-28 14:28] DeniseColbert opened #23 "Explore non-geographic Records Associations"

[2016-12-28 16:12] PatReynolds commented on #17
@carobin589 please draft email for cultural co-operation enquiring if they are taking on new delivery partners for apprenticeships, giving our background and desire for apprentice.  @richpomfret  what level apprentice would be appropriate for an apprentice Ruby/Mongodb developer?

[2016-12-28 16:27] #18 closed, assigned to PatReynolds, carobin589

[2016-12-28 16:45] PatReynolds commented on #23
Check to see if digitized images already exist online - e.g. on archive.org or on their own websites.

[2017-01-03 09:42] PatReynolds commented on #15
contacted 3/1/2017

[2017-01-07 17:16] carobin589 commented on #22
Mostly completed for the partners found as a consequence of researching ODINE, HLF etc. Obviously this is on going, the spreadsheet is available in the Other Funders Folders, obviously there are probably more organisations that could be added.

[2017-01-07 17:35] carobin589 commented on #23
This has met with a range of success, there are some fairly extensive online collections from the records societies including  will records (from Scotland), wills and obituaries, and Parish registers etc  on archive.org which are detailed on the spreadsheet (fundraising/ other funders). Others also seem to have done there own digitizations/ have a clear interest in doing so,   and are indicated by

[2017-01-12 16:53] DeniseColbert commented on #23
Is this website of interest? www.dustydocs.com

[2017-01-12 17:00] PatReynolds commented on #23
Yes - should link to from our links page.

On 12 January 2017 at 16:53, DeniseColbert <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1904 541411​ +44 7943 145387

36 Albemarle Road, Yor

[2017-01-14 11:53] PatReynolds opened #24 "Scope new project: Training new Ruby Volunteers"
Aim: get a small number of Ruby volunteers trained up in our systems.
Cost: Ben/Doug's time (actual training / backfilling Kirk)
Outputs: cohort of developers who can take our projects forwards
Outcomes: FreeREG fully implemented, quickly, FreeCEN2 and FreeBMD2 implemented

[2017-01-14 11:56] PatReynolds opened #25 "Identify funders for FreePastPlace initial bid"

[2017-01-14 11:56] PatReynolds opened #26 "Prepare bids for FreePastPlace initial bid"
Need to involve Richard Light in this

Needed by #108

Look into A Street Near You

[2017-01-14 11:57] PatReynolds opened #27 "Scope/cost UI project as part of FreeBMD2"
Part of the PID for FreeBMD2 with potential to take forwards as external bid

[2017-01-14 12:00] PatReynolds opened #28 "Cost Volunteer Gateway"

[2017-01-14 12:01] PatReynolds opened #29 "PID for Volunteer Gateway"
TASc action

[2017-01-14 12:03] PatReynolds commented on #15
Costs depend on implementation chosen - awaiting Trustee decision

[2017-01-16 16:15] richpomfret commented on #8
To reorganise for 1st week of Feb (potentially) if not before.

[2017-01-16 16:16] richpomfret commented on #10
Email sent - awaiting response.

[2017-01-16 16:22] richpomfret opened #30 "Zooniverse Bid/Application"
To put together/review/finalise our bid for this project.

[2017-01-16 16:24] richpomfret commented on #30
Currently in-progress. Deadline for end of 31st Jan '17.

[2017-01-16 16:25] richpomfret opened #31 "Contact Oliver Duke Williams"

[2017-01-16 16:34] richpomfret commented on #4
Not applicable if we go ahead with the Zooniverse project.

[2017-01-16 16:38] benwbrum commented on #26
See Pelagios Commons grant program Linked Pasts for an option.

[2017-01-16 16:38] benwbrum commented on #25
See LinkedPasts grant programme on Pelagios Commons

[2017-01-16 16:41] #1 closed, assigned to PatReynolds

[2017-01-16 16:41] benwbrum commented on #24
We need to figure out how to structure this project, since volunteers tend to work on off hours and need consistent feedback from their mentors.   Ideally a volunteer trainer would be available 24/7.

[2017-01-16 16:42] benwbrum commented on #24
I'll put some thought into ways to structure this. We might be able to put together a "corhort" approach, in which volunteers are able to work together and help each other as they learn and work on closely-related projects or, indeed, the same code.

[2017-01-16 17:26] PatReynolds commented on #24
I'd expect low level mentoring to be part of the Ruby Developer role.

On 16 January 2017 at 16:41, Ben W. Brumfield <notifications@github.com>
wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1904 541411​ +44 7943

[2017-01-16 17:45] Captainkirkdawson commented on #24
My experience todate of trying to bring developers up to speed is based on
the model of getting them to install FreeREG on their own platform. It has
not been a sparkling success. More failures than successes and it is a high
cost undertaking for the mentor.

The problems revolve around the number of different platforms that people
use these days ; many of which are not particularly happy with the

[2017-01-17 16:16] carobin589 commented on #30
The first draft of this is completed, so it would probably be a useful time for people to look through and add their thoughts so I can make edits as required

[2017-01-18 12:40] PatReynolds commented on #30
Has anyone asked for the estimated % handwritten from FreeCEN, FreeREG and FreeBMD?  Handwritten would include annotations in hand on typescript or printed copy

[2017-01-18 17:08] Captainkirkdawson commented on #30
As for FR with original PRs/ATs and BTs it is 100% handwritten. With 10% in
Latin and using a Chancery Secretary script.

For historical society documents it is 90% typed

Kirk Dawson
5220 Riverside Drive
Fairmont Hot Springs, B.C.
V0B 1L1

On 18 January 2017 at 05:40, PatReynolds <notifications@github.com> wrote:

[2017-01-27 14:50] Captainkirkdawson commented on #24
Until there is a better model will continue to assume we bring people on board using the  current mentoring approacn

[2017-01-30 10:05] PatReynolds opened #32 "Advisory Board: Find out preferred days of week /times of day"

[2017-01-30 10:05] #32 closed, assigned to DeniseColbert

[2017-01-30 10:45] PatReynolds commented on #10
Email sent 30/1/2017

[2017-01-31 23:05] carobin589 commented on #26
Initial funding spreadsheet available in FreePastPlace sub folder of  Fundraising.

[2017-01-31 23:24] carobin589 commented on #25
Initial potential funders spreadsheet put together in FreePastPlace folder of Fundraising

[2017-02-01 11:20] PatReynolds commented on #24
Yes, approach is fine.  I want to see if we can provide more support to you
(e.g. by employing developer to backfill you, or to provide mentoring, or
any other way we can make it easier on you.

On 27 January 2017 at 14:50, Kirk Dawson <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated

[2017-02-01 11:44] PatReynolds commented on #26
RichardL suggests: £££ for:
*partner,
*cross-checking names/places in our databases,
*enhancing online search beyond 'nearby places', and
*at data entry level

[2017-02-01 12:12] PatReynolds commented on #24
@carobin589 to draft Paul Hamlyn or Garfield Weston (@pat to choose)

[2017-02-01 12:13] PatReynolds commented on #26
@carobin589 to draft for Pealgios, and also PID.

[2017-02-01 12:17] #30 closed, assigned to benwbrum, PatReynolds, DeniseColbert, richpomfret, carobin589

[2017-02-01 12:17] #20 closed, assigned to PatReynolds

[2017-02-01 12:17] #23 closed, assigned to carobin589

[2017-02-01 12:19] PatReynolds commented on #9
@benwbrum can you chase, please?

[2017-02-01 12:21] PatReynolds commented on #27
Awaiting finalisation of other parts of PID

[2017-02-01 12:22] pat commented on #24
I doubt you want me to choose. Related: best to use full GitHub usernames for @-mentions, or don't use the @ prefix :)

[2017-02-07 13:07] PatReynolds commented on #17
@carobin589 to re-contact Cultural Cooperation @patreynolds to contact M25 group and John Sheridan (again) and @richpomfret to decide level

[2017-02-07 13:09] PatReynolds commented on #26
Pelagos want levels of implementation (basic / standard / amazing).  @patreynolds to spec and budget for these. Also to look at contacting them now

[2017-02-07 13:12] #31 closed, assigned to PatReynolds

[2017-02-07 13:12] #25 closed, assigned to benwbrum, PatReynolds, carobin589

[2017-02-07 13:13] #22 closed, assigned to carobin589

[2017-02-07 13:13] #8 closed, assigned to benwbrum

[2017-02-13 14:22] richpomfret commented on #9
Meeting organised for today.

[2017-02-13 14:24] benwbrum commented on #10
I just sent Brooke a DM and offered to chat off-the-record about her interest and availability.

[2017-02-13 14:25] richpomfret opened #33 "Rothschild Application (Hannadiv) early 2019"

[2017-02-13 14:26] richpomfret commented on #33
To review how to answer the questions in the application form.

[2017-02-13 14:29] PatReynolds opened #34 "Write to Jewish Heritage Orgs."

[2017-02-13 14:38] PatReynolds commented on #34
* this is us, and what we do
* we want to include Jewish sources on FreeREG, making them available with Open Database Licence 1.0, and don't want to duplicate effort
* what are you doing re  transcriptions / online access?
*  would you be interested in sharing your data so people can find it when searching (perhaps not knowing that their ancestors were Jewish)?
*  should we do this?
* can you give

[2017-02-14 22:34] carobin589 commented on #34
Do we have a list of these org, or is that something that needs research?

[2017-02-15 09:55] PatReynolds commented on #34
Hi Clare,

It was on its own, so I've moved it into the Fundraising - Projects
folder.  Searching g drive for Jewish History should pick it up.

Best wishes,

Pat

On 14 February 2017 at 22:34, carobin589 <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in Engl

[2017-02-15 22:24] carobin589 commented on #34
Thanks, Pat. Deleted the comment because I thought I had found it, but that is much clearer!

[2017-02-23 13:04] #34 closed, assigned to PatReynolds, carobin589

[2017-02-23 15:07] PatReynolds opened #35 "Scope new project: Enhanced OCR correction for CRS"

[2017-02-28 16:42] PatReynolds commented on #35
Outcomes:
FR DAP shows availability
CC on FR can allocate images to transcriber
[CRS availability/allocation outcomes]
Volunteer can view image, and mark up OCR for transcription on FR and/or CRS
Checker can correct OCR text on FR and/or CRS
FR can ingest corrected OCR text to index
FR can export corrected OCR text to CRS and IA
CRS can export corrected OCR text to IA

Source code and documentatio

[2017-02-28 17:35] benwbrum commented on #10
I've just heard from Brooke that she definitely will not have capacity to
work with us on the current Hanadiv funding cycle.

On Mon, Jan 30, 2017 at 4:45 AM, PatReynolds <notifications@github.com>
wrote:

[2017-03-01 10:59] PatReynolds commented on #24
Draft to Garfield Weston in Garfield Weston folder.  Technical questions about cohort approach in Ruby Training folder for review

[2017-03-01 14:06] #10 closed, assigned to PatReynolds

[2017-03-01 14:08] richpomfret commented on #9
Following the meeting, us to send through summary of our proposal.

[2017-03-01 14:13] richpomfret commented on #33
Pat to contact Daniel for clarification on how best to proceed with the application. Deadline submission on 24th March.

[2017-03-01 14:16] richpomfret commented on #24
For Rich/Ben/Kirk to review technical questions re: Ruby Training

[2017-03-01 14:21] richpomfret commented on #35
Ready to now move forward with this.

[2017-03-01 14:22] #14 closed, assigned to benwbrum, PatReynolds

[2017-03-01 14:39] Captainkirkdawson commented on #24
As far as I can see there are no folders on gdrive available to me except the ones I have created

[2017-03-01 14:53] PatReynolds commented on #24
Sorry - now shared.

On 1 March 2017 at 14:39, Kirk Dawson <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1904 541411​ +44 7943 145387

36 Albemarle Road, York, YO23 1ER, UK

[2017-03-02 12:59] #9 closed, assigned to benwbrum, PatReynolds

[2017-03-02 17:36] PatReynolds commented on #17
HLF 'skills for the future' ran for the last time in 2016.

[2017-03-08 14:10] #17 closed, assigned to PatReynolds

[2017-03-09 12:33] PatReynolds commented on #21
Folder shared 9/3/2017

[2017-03-13 14:16] richpomfret commented on #33
Useful now for us to use as a template for future applications (Jewish heritage or otherwise).

[2017-03-13 14:19] richpomfret commented on #24
FreeCEN project/tech set-up documentation needed (as we have with FreeREG).

[2017-03-13 14:21] #21 closed, assigned to PatReynolds

[2017-03-13 14:28] richpomfret opened #36 "Review CSi tool and contact developer"
Pat to speak to Daniel and arrnage introduction to developer.

[2017-03-27 13:07] DeniseColbert commented on #36
Pat to chase developer

[2017-03-27 13:08] DeniseColbert commented on #26
Feasibility scoping needed for £4k budget

[2017-03-27 13:09] #28 closed, assigned to benwbrum, PatReynolds, richpomfret

[2017-03-27 13:11] #29 closed, assigned to richpomfret

[2017-04-11 16:14] PatReynolds opened #37 "Apply to Google Summer of Code"

[2017-04-11 16:15] PatReynolds opened #38 "Apply Google Summer of Code (opens 4th Jan, closes January 23 17:00 UTC)"
Announcement expected mid-October; submission open expected mid-Jan; submission close expected early Feb 2018

[2017-04-11 16:16] #37 closed, assigned to nobody

[2017-04-12 14:58] #3 closed, assigned to richpomfret

[2017-04-19 16:26] PatReynolds opened #39 "Finalise Pelagios bid"

[2017-05-23 09:00] PatReynolds opened #40 "Investigate Hivos, Article 19, Foreign Commonwealth Office and SPARC as funders"

[2017-05-23 09:00] #39 closed, assigned to nobody

[2017-06-02 14:51] PatReynolds commented on #35
https://standrewsrarebooks.wordpress.com/2017/05/12/practice-makes-perfect-new-tools-for-reading-old-handwriting/ - open source which we might use.

[2017-06-26 15:07] DeniseColbert commented on #24
@PatReynolds to send bid to Advisory Board for review before sending.

[2017-06-26 15:13] PatReynolds opened #41 "Microvolunteering interface"

[2017-06-26 15:13] PatReynolds commented on #41
@carobin589 to check potential funders

[2017-06-26 15:17] PatReynolds opened #42 "Scottish Census project"

[2017-06-26 15:17] PatReynolds commented on #42
Pat to contact Scotlands People

[2017-06-26 15:19] DeniseColbert commented on #26
Look into funders anew

[2017-06-26 15:20] PatReynolds commented on #33
Pat to contact David again.

[2017-06-26 15:30] DeniseColbert commented on #35
We have the go ahead to seek funding.

Ben to begin looking at tools already out there and move forward.

@PatReynolds to contact the Internet Archive

[2017-07-11 17:28] benwbrum commented on #35
As OCR correction already has been pretty well served, I launched two test projects for the CRS's Miscellania volume IX on platforms that host OCR correction for us to evaluate.  Both would need programming to extract register entries into our FreeREG search engine, but at least the basic correction tools are mature.

Here is the same page ingested into [Wikisource](https://en.wikisource.org/w/ind

[2017-07-12 12:31] carobin589 commented on #41
Have done some research, there doesn't seem to be anything funding specific, but I have put together a doc with advice and identified some potential funders from our list

[2017-07-12 12:37] carobin589 commented on #40
Article 19 and Hivos both appear to be campaigning rather than grant giving orgs, but I have put them on the potential partners list. SPARC and the FCO look potentially  useful, although the FCO grant programs are being changed around.

[2017-07-12 15:07] DeniseColbert commented on #24
Pat submitting online

[2017-07-12 15:22] DeniseColbert commented on #35
The 2 tools above are ready for us to play with and evaluate and check in with next meeting.
Denise to update @PatReynolds with potential issues

[2017-07-12 15:24] DeniseColbert commented on #40
SPARC are interesting in view of Open Data- one to watch

[2017-07-12 15:27] DeniseColbert commented on #41
Clare  to explore Crowd Crafting, etc. further and we need to establish what the MV project would look like / entail

[2017-07-12 15:30] benwbrum commented on #35
See also the overall project progress pages for the same work on Wikisource and FromThePage:
https://fromthepage.com/display/read_work?work_id=1437
and
https://en.wikisource.org/w/index.php?title=Index:Miscellanea,_Volume_IX.djvu

[2017-07-12 15:30] DeniseColbert commented on #2
Rich to speak to Pat about time requirements

[2017-07-12 15:33] DeniseColbert commented on #4
To be reviewed to decide time requirements

[2017-07-12 15:35] benwbrum opened #43 "Investigate Zooniverse Project Builder text entry"
Zooniverse has recently added text entry tools to their Project Builder service, which allows its use for online transcription.

We need to set up a sample project on the Zooniverse Project Builder with a handful of representative images and text data entry tasks, to see whether it can support our needs.

[2017-08-02 15:12] benwbrum commented on #43
I've been thinking about this a bit more, and think that an excellent pilot would be to upload some census sheets and ask our users to transcribe the place names at the top of the sheets -- this would be a limited test, and would collect the data we need for the placename integration and "search nearby" improvements.

[2017-10-25 10:02] PatReynolds opened #44 "Trial zooniverse"

[2017-11-15 14:20] PatReynolds commented on #35
@Clare and @DeniseColbert  to test: ocr correction interface - also ask Advisory Board.
Both already integrated with IA.  Will need work to extract and into FreeREG. Will need to experiment with how to mark-up genealogy information vs Catholic history.

[2017-11-15 14:32] PatReynolds commented on #41
Could use zooniverse or crowdcrafting - image with image, transcription, and question(s).
1/ Find problematic data and their images @patreynolds to clarify what data is /why problematic (then can judge if appropriate for SoC).
2/ Combine data and image (Ben has experience in this)
3/ Need to set questions up as microtasks in a workflow.
4/ put into a microvolunteering site (Ben could do zooniverse

[2017-11-15 14:48] PatReynolds commented on #43
@DeniseColbert to recruit volunteer

[2017-11-15 14:51] PatReynolds opened #45 "Apply RailsGirls SoC"
https://railsgirlssummerofcode.org/guide/projects/

NB: can be any language, not just Rails
Will be a team of people, rather than one.

[2017-11-15 14:52] #44 closed, assigned to nobody

[2017-11-15 14:55] PatReynolds opened #46 "Trans Atlantic Partnership Grants ?2020 check May 20"
Apply Digging into Data grant stream - poss round 5 announced 2019?

https://www.transatlanticplatform.com/

[2017-11-15 15:47] PatReynolds opened #47 "Funding for Probate digitization"
Need to estimate time and costs

[2017-11-16 12:24] DeniseColbert commented on #35
Emailed @carobin589 16th Nov about testing in a hangout

[2017-11-20 18:05] PatReynolds commented on #35
@benwbrum do we want two stages of microvolunteering, a mark-up stage where personal names and other genealogical info / sections for enhancement by the CRS are identified, and a transcription stage?  Would such a mark up tool be integratable into Scribe and/or From the Page?

[2017-11-23 14:41] #24 closed, assigned to benwbrum, PatReynolds, richpomfret, carobin589

[2017-11-24 10:19] PatReynolds commented on #41
1/ see story #1372 on myopic vicar

[2017-11-29 14:11] benwbrum commented on #35
Initial testing determined that FromThePage is preferred over WikiSource.

[2017-11-29 14:12] benwbrum commented on #40
This has been reviewed by @carobin589 and has been added to the fundraising spreadsheet.

[2017-11-29 14:12] #40 closed, assigned to carobin589

[2017-11-29 14:14] benwbrum commented on #33
Ben to contact Brooke about other people we might partner with.

[2017-12-06 16:49] benwbrum commented on #41
[1372](https://waffle.io/freeukgen/myopicvicar/cards/5a0b4b778a76f5001bc70250)

[2017-12-06 16:54] benwbrum commented on #41
See the story tracking quality control microvolunteering interface at https://waffle.io/freeukgen/myopicvicar/cards/5a28206ae6c5bd001b82654c

[2017-12-07 11:31] PatReynolds commented on #38
Submission opens 4th January https://developers.google.com/open-source/gsoc/

[2017-12-13 11:42] PatReynolds commented on #45
Tasks:

Check: has at least one open-source license (dual, OS/commercial licenses are usually ok but will be looked at on a case-by-case basis) (we will need to add the name of our license in the “license” field)

Query: who will be Primary Mentor?

Write: "features and tasks: outline how you image the students to contribute, features you’re planning to work on, issues that need help."

Write: "de

[2017-12-13 12:07] PatReynolds commented on #45
Is it possible for one repository to appear in two boards (so we could have one board for the SoC project, but the issues/stories would also appear in MyopicVicar or FreeCENmigration?

[2017-12-13 14:14] richpomfret commented on #47
Need for our new digital resource (Helen) to scope/time and cost this.

[2017-12-13 14:18] richpomfret commented on #35
@carobin589 can you provide an update for us?

[2017-12-13 14:21] richpomfret commented on #41
Take this project and use ruby girls template as starting point. Ben to start putting together a doc detailing spec for interface.

[2017-12-13 14:24] richpomfret opened #48 "Write up for microvolunteering task/application"
Ben to create initial write-up task as discussed.

[2017-12-13 14:24] #41 closed, assigned to benwbrum, PatReynolds, carobin589

[2017-12-13 14:24] benwbrum commented on #41
The next step on this is to write the quality control microvolunteering interface work up into the sort of project description which RubyGirls and GSOC expect.

See #48

[2017-12-13 14:24] richpomfret commented on #48
Created from 41.

[2017-12-13 14:27] richpomfret commented on #42
I will check on the security policy so Pat can move forward with this.

[2017-12-13 14:30] richpomfret commented on #26
@PatReynolds  to check on this/contact Humphrey.

[2017-12-13 14:33] benwbrum commented on #45
Our software is licensed under the Apache 2.0 license [here](https://github.com/FreeUKGen/MyopicVicar/blob/master/LICENSE-2.0.txt)

[2017-12-13 14:54] richpomfret commented on #43
@benwbrum to see if Eric might be able to help or assist with this.

[2017-12-13 15:00] benwbrum commented on #43
Open question for @PatReynolds is whether we can post images of the census pages online for the transcribers, and (if not) whether we can programmatically redact or separate parts of the images for independent transcription in order to comply with restrictions and still achieve our goals.

[2017-12-13 15:22] benwbrum commented on #43
Emailed Eric Booker for recommendations.

[2017-12-18 14:55] PatReynolds commented on #43
Also potential for Military injuries and deaths (http://discovery.nationalarchives.gov.uk/details/r/C513631)

[2017-12-18 14:55] PatReynolds commented on #36
Cf http://discovery.nationalarchives.gov.uk/details/r/C513631 as a potential first project

[2017-12-27 12:45] PatReynolds commented on #36
Wrote 27/12

[2017-12-28 11:34] PatReynolds commented on #35
How will autolink be used?  Can we add in autolinking of a person with an event (e.g. death) and a date?

[2017-12-29 11:43] PatReynolds commented on #45
nb #63 #493, #515 and #561 on trac are SoC possibilities

[2018-01-10 11:28] PatReynolds commented on #38
https://summerofcode.withgoogle.com/rules/ - suggest I, Rich and Denise are the 'organisation administrators.  NB our need to guarantee a 36 hour response to Google.  Suggest we set up a SoC@freeukgenealogy.org.uk that sends to us plus Ben and Vino to ensure we meet this.

[2018-01-10 14:11] richpomfret commented on #45
The deadline for Rails Girls Summer of Code 2018 is January 24th, 2018 (23:59:00 UTC).

[2018-01-10 14:18] richpomfret commented on #45
Pat to pass onto Ben/Clare to review.

[2018-01-10 14:21] richpomfret commented on #36
Meeting today with the developers.

[2018-01-10 14:28] benwbrum commented on #35
The next step here is to transcribe a single page from the CRS test document in FromThePage, using the tagging feature to mark up dates, names, and places.  If we can identify an appropriate page, I can take a hand at the transcription and see what's involved in extracting/converting/ingesting into FreeREG2.

[2018-01-10 14:35] richpomfret commented on #38
I'll take a look at the doc and do a pass, can set-up our new email alias too.

[2018-01-10 14:37] richpomfret commented on #33
No reply from Brooke just yet. To discuss in our CSi call today.

[2018-01-10 14:52] saracarl commented on #48
Test comment

[2018-01-10 15:09] richpomfret opened #49 "Generate new projects for using AI"
As per Ben's example relating to using AI (computer vision) for helping with detecting census forms. Can we come up with a list of such example projects for new volunteers? AI/machine learning and deep learning are areas of tech many people are looking to gain experience in..

[2018-01-10 16:48] benwbrum commented on #49
A computer vision project for FreeCEN is detailed on [FreeCEN2 Issue 393](https://github.com/FreeUKGen/FreeCENMigration/issues/393)

[2018-01-10 16:51] benwbrum commented on #49
Open question, probably for @PatReynolds: Can we illustrate these computer vision projects by using a handful (1-6) of images from the Census records and parish registers?  It would be a lot more compelling if we could, but I don't know about the rights situation.

[2018-01-10 17:36] richpomfret commented on #36
For us to now finalise which project we wish to use to test this out - to prepare required sign-up/agreement text (open-data etc), to then request a new group to be set-up with Banai for us to then test and begin using. Do we go with the above first project idea? Also need to define which fields to extract data from.

[2018-01-10 18:27] benwbrum commented on #36
We can also point a handful of existing volunteers at one of the English-language CSI projects like the NYC marriage license application indices to get their impressions of the tool.  I've just tried it, and am very impressed.

[2018-01-12 10:41] PatReynolds opened #50 "Amazon Web Services in Education Grant"

[2018-01-22 12:56] richpomfret commented on #38
We've now got a soc@freeukgenealogy.org.uk email group address set-up.

[2018-01-22 14:04] PatReynolds commented on #38
Thanks - address added.  Nice to haves: "a web page that describes how to get on your IRC channel or other realtime communication system"

[2018-01-23 11:01] PatReynolds commented on #50
via technology trust.  No cloud9 (yet) but could be used for servers? emailed rich and lemon 23/1/2018

[2018-01-23 12:46] richpomfret commented on #49
Thanks Ben. @PatReynolds do we have any other potential projects after our discussions with the CSi folks?

[2018-01-23 16:52] PatReynolds commented on #49
CSi was about machine markup of images.  The other AI project is machine learning of effective ways of searching FreeCEN data.

[2018-01-24 13:57] richpomfret commented on #38
So we have 'slack' instead of IRC but just as good. ;) As this has been submitted, I think this is mostly done - perhaps we can have another story for adding to/updating the 'ideas list'?

[2018-01-24 13:58] richpomfret commented on #42
Checked and looks like we are now covered - a couple of small word-changes for the policy should reinforce that.

[2018-01-24 14:01] PatReynolds commented on #42
Thank you.

Best wishes,

Pat

On 24 January 2018 at 13:58, Rich Pomfret <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1723 362616  ​ +44 7943 145387
Westwood House,Westwood, Scarborou

[2018-01-24 14:09] richpomfret commented on #45
@PatReynolds to send the link through.

[2018-01-24 14:11] benwbrum commented on #45
The RailsGirls proposal to review is at https://docs.google.com/document/d/1dA_4_MHYWbt-_0MsWmL83vNPf6BY88SABzZ__NGwu3c/edit

[2018-01-24 14:12] richpomfret commented on #45
The deadline for Rails Girls Summer of Code 2018 is January 24th, 2018 (23:59:00 UTC).

[2018-01-24 14:18] richpomfret commented on #36
@benwbrum to email CSi developer and clarify check-box issues (which might affect FreeCen transcribing).

[2018-01-24 14:20] #38 closed, assigned to richpomfret, carobin589

[2018-01-24 14:20] richpomfret commented on #33
@PatReynolds to email Daniel.

[2018-01-24 14:21] richpomfret commented on #42
@PatReynolds to contact them.

[2018-01-24 16:00] PatReynolds commented on #38
Yes - I think the 'ideas list' is a good permanent fixture. Maybe a ticket
every ? months for 'review ideas list'?

On 24 January 2018 at 13:57, Rich Pomfret <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration:

[2018-01-25 10:09] DeniseColbert commented on #48
Have any of you seen this micro-v website? It has linked data too... http://buildinginspector.nypl.org/

[2018-02-05 11:38] PatReynolds commented on #49
[FreeCEN2 Issue 411](https://waffle.io/freeukgen/freecenmigration/cards/5a78410f8fe575001eb1dfe7) is the other AI project

[2018-02-07 12:58] PatReynolds commented on #50
Applied 7/2/2018.

[2018-02-07 14:08] #45 closed, assigned to benwbrum, PatReynolds, richpomfret, carobin589

[2018-02-07 14:10] benwbrum commented on #36
The CSI tool does not support checkboxes (yet), but FreeCEN already has their users type "Y" in the kinds of text entry boxes CSI _does_ support, so it may not be an issue.

[2018-02-07 14:10] benwbrum commented on #36
Also @PatReynolds is to find census sheets and a FreeCEN volunteer to connect with CSI

[2018-02-07 14:16] #50 closed, assigned to PatReynolds, richpomfret

[2018-02-07 14:36] benwbrum commented on #4
Both Scribe and the Zooniverse Project Builder(see #43)  have changed substantially over the last two years.

The new version of Scribe (ScribeAPI) was released 2-3 years ago, but the organizations creating it experienced so much turnover in personnel and management priorities that it was very nearly orphaned with only us and the University of California-Davis seriously pursuing it.  Meanwhile the

[2018-02-07 15:23] PatReynolds commented on #36
Messaged freecen Coords 7 Feb.  Will ask interested cord for images.

[2018-02-07 15:30] PatReynolds commented on #42
Emailed Anne Slater 7 Feb, asking for confirmation of the correct form to use.

[2018-02-10 16:51] PatReynolds opened #51 "Set up FreeCEN CSi trial"

[2018-02-10 16:52] PatReynolds opened #52 "Set up FreeBMD+ CSi trial"
Identify discrete source of BMD-type data for a CSi trial project

[2018-02-10 16:52] PatReynolds opened #53 "Establish costs for integration of CSi FreeCEN data"

[2018-02-10 16:55] PatReynolds opened #54 "Establish costs for integration of CSi FreeBMD data"
Includes costs of modifying FreeBMD to show data, and microsite for this data

[2018-02-10 17:04] Captainkirkdawson commented on #51
Can I ask what CSi stands for? A google search gives me nothing but structural design software

[2018-02-15 12:56] PatReynolds opened #55 "Apply Facebook grant"
https://www.transformfoundation.org.uk/facebook-grants

[2018-02-16 10:25] PatReynolds commented on #33
Wrote to Daniel 16/2
@patreynolds to contact Jewish Heritage UK and Jewish Trails (http://www.jtrails.org.uk/) to see if they have / have interest in transcribing cemeteries (if Daniel does not have a contact there).

[2018-02-16 14:40] PatReynolds commented on #36
Re-message coords when rootsweb is back up.

[2018-03-07 14:19] benwbrum commented on #49
Pat's story involves using a data distribution to suggest ways to narrow down their query as they enter it.

[2018-03-07 14:20] benwbrum commented on #49
A separate story is to suggest linkages between the same individuals between different census years.  We might be able to get "gold standard" data from Oliver Duke-Williams

[2018-03-07 14:24] benwbrum commented on #49
Another idea involves OCRing will images, running NLP for Named Entity Recognition to index them.

[2018-03-07 14:30] benwbrum commented on #49
Similar to will images, the Catholic Record Society texts could be auto-indexed through NER.

[2018-03-07 15:14] richpomfret commented on #36
@PatReynolds It's now back (although we probably want to grab our mailing lists while it's working and move onto our own system!).

[2018-03-07 15:30] richpomfret opened #56 "Write-up API development project for SoC"
Can be for any of our projects, or as discussed, a way of accessing/querying data on our new AWS server (Cornwall data or any data we have ready to add).

[2018-03-07 15:34] richpomfret opened #57 "Write-up AI FreeWILL project"
OCRing will images, running NLP for Named Entity Recognition to index them.

[2018-03-07 15:35] richpomfret commented on #57
@PatReynolds to locate files we might use (to contact Helen and see if she can put them onto google drive/dropbox).

[2018-03-07 15:40] richpomfret opened #58 "SoC Student Applications: March 12th-27th"
https://developers.google.com/open-source/gsoc/timeline

Google student application period begins on the 12th. Students can register and submit their applications to mentor orgs. They must be submitted by the 27th.

[2018-03-07 15:42] richpomfret opened #59 "SoC Discussion Phase: Feb 12 - March 12"
Potential student participants discuss application ideas with mentoring organizations.

[2018-03-07 15:44] richpomfret opened #60 "SoC Application Review Period: Mar 27th-April 23rd"
Organisation reviews applications from prospective candidates and selects student proposals.

[2018-03-07 15:46] richpomfret opened #61 "SoC Student Projects Announced: April 23rd - Community Bonding Begins"
Accepted students are paired with a mentor and start planning their projects and milestones

[2018-03-07 16:21] richpomfret opened #62 "Write-up project info for suggesting linkages AI/Machine learning"
Suggest linkages between the same individuals between different census years.

We might be able to get "gold standard" data from Oliver Duke-Williams.

Needs #108 - Places work.

[2018-03-07 16:21] richpomfret commented on #62
@PatReynolds to investigate whether we can get this data?

[2018-03-07 16:22] richpomfret commented on #62
For us to investigate before Ben writes up specifics for this potential SoC mini-project..

[2018-03-08 17:58] PatReynolds commented on #59
this looks useful: https://www.youtube.com/watch?v=KJ9UL6DSsr0
Once we've done our part, I suggest we share with our potential applicants, too.

[2018-03-13 15:33] PatReynolds commented on #36
Coords asked 13/3

[2018-03-21 14:15] richpomfret commented on #36
We have a volunteer earmarked to now work on this. Us to get things set up for them to test.

[2018-03-21 14:16] #36 closed, assigned to PatReynolds

[2018-03-21 14:16] #59 closed, assigned to nobody

[2018-03-21 14:17] richpomfret commented on #58
https://www.youtube.com/watch?v=KJ9UL6DSsr0 - to help with choosing applicants.

[2018-03-21 14:19] richpomfret commented on #58
2 proposals to review at the moment. To check google interface for this to see if we have any more.

[2018-03-21 14:23] #57 closed, assigned to benwbrum, PatReynolds

[2018-03-21 14:23] richpomfret commented on #57
Ben now has everything from Helen and has written up the project.

[2018-03-21 14:30] benwbrum commented on #56
See detailed spec in https://github.com/FreeUKGen/FreeCENMigration/issues/401

[2018-03-21 14:38] richpomfret opened #63 "Data Visualisation - ideas for projects (GSoC)"
To flesh out what's possible with our data across or for individual projects. Help guide candidates more on this.

[2018-03-21 14:41] richpomfret commented on #63
2 approaches here - visualising database coverage and actual search results.

[2018-04-03 16:44] PatReynolds commented on #61
Timeline - https://docs.google.com/spreadsheets/d/1iQ-WlsiDM1R2BMcq-G_Qh7jry6Ew2uOQH79f7H4qLq4/edit?usp=sharing

[2018-04-04 14:04] #56 closed, assigned to benwbrum

[2018-04-04 14:04] #63 closed, assigned to benwbrum, PatReynolds, richpomfret

[2018-04-04 14:06] #49 closed, assigned to benwbrum

[2018-04-04 14:06] benwbrum opened #64 "Spec NER for CRS"
Spun off from #49: We should consider an NER project on the CRS texts.

NER = Named Entry Recognition

[2018-04-04 14:06] #58 closed, assigned to PatReynolds, richpomfret

[2018-04-04 14:45] richpomfret opened #65 "GSoC Select slots - by 9th April"
Select slots by 9th April.

[2018-04-04 14:46] richpomfret commented on #65
https://developers.google.com/open-source/gsoc/help/slot-allocation#what_is_a_slot

[2018-04-04 14:49] richpomfret opened #66 "RGs 17th Apr (delayed): Acceptance emails"
Next steps for Rails Girls.

[2018-04-12 08:57] PatReynolds commented on #51
@Captainkirkdawson Crowd Sourced Indexing - https://csindexing.com/ I am currently setting up a trial for FreeCEN

[2018-04-12 14:15] Captainkirkdawson commented on #51
TY

[2018-04-18 13:14] #65 closed, assigned to PatReynolds

[2018-04-18 13:14] #60 closed, assigned to nobody

[2018-04-18 13:17] richpomfret commented on #48
If candidates get through their tasks early then we might still get them to work on this.

[2018-04-18 13:22] richpomfret commented on #64
Connected to the probate parsing task (potential GSoC spin-off).

[2018-04-18 13:25] richpomfret commented on #62
Potential RailsGirls project.

[2018-04-18 13:27] #55 closed, assigned to DeniseColbert

[2018-04-18 13:27] #5 closed, assigned to richpomfret

[2018-04-23 09:22] PatReynolds commented on #61
@patreynolds to check with RG SoC potential to raise funds for our project

[2018-04-23 09:23] PatReynolds commented on #66
@patreynolds to check with RG SoC potential to raise funds for our project

[2018-05-16 13:10] #61 closed, assigned to PatReynolds

[2018-05-16 13:30] richpomfret opened #67 "Contact Lemon re: FreeProbate"
Set up test server and ensure we have appropriate URLs.

[2018-05-16 13:31] richpomfret opened #68 "GSoC - Work begins May 14th"
Work begins for our two new GSoc'ers.

[2018-05-16 13:32] richpomfret opened #69 "GSoc - 1st evaluation June 11th-15th"
First evaluation period for our GSoc'ers.

[2018-05-16 13:33] richpomfret opened #70 "GSoc - 2nd evaluation July 9th-13th"
Second evaluation point.

[2018-05-16 13:35] richpomfret opened #71 "GSoc Review - Students submit code Aug 6th-14th"
Submit code & evaluations.

[2018-05-16 13:36] richpomfret opened #72 "GSoc - Mentors Submit Aug 14th-21st"
Mentors Submit Final Evaluations

[2018-05-16 13:39] richpomfret opened #73 "Add GSoc'ers schedule/epics to waffle"
Track GSoc'ers progress using our usual waffly ways. Their schedule of tasks should be added either here or on the relevent project - we can then see what phase they are in and how things are progressing. We can use the new waffle EPIC feature and include parent/child tasks.

[2018-05-16 13:40] richpomfret opened #74 "GSoc - results announced Aug 22nd"
End of GSoc.

[2018-05-18 09:19] richpomfret opened #75 "Schedule for FreeProbate"
High level iteration/phase schedule for getting a MVP i.e. basic UI to allow searches as a separate project under the FUG umbrella.

[2018-05-18 09:22] richpomfret opened #76 "Preparing pipeline for 'human checking' on FreeProbate"
We are to distinguish between 'machine transcripted' and 'human' in our results/data. We must then prepare a pipeline for volunteers to be able to access records and to check/verify what's been automatically processed.

[2018-06-07 10:09] PatReynolds opened #77 "Draft Evidence Explained format"

[2018-06-13 13:12] #68 closed, assigned to nobody

[2018-06-13 14:57] richpomfret opened #78 "Wellcome Trust Funding Application ?April 2019"
To establish a project which we can use for this application:

https://wellcome.ac.uk/news/new-fund-support-groundbreaking-open-research

[2018-06-13 15:00] richpomfret commented on #78
First step - for Ben to email the advisory board and see what people think/suggest with regard to us creating or being part of a project for this.

[2018-06-13 15:02] richpomfret opened #79 "Set up repository"
Set-up relevant repositories on Github for GSoc'ers.

[2018-06-13 15:03] richpomfret commented on #79
Initially Ben to do this for Probate and then see if same is needed for citation generator

[2018-06-20 08:58] PatReynolds opened #80 "Evaluate SoC for continuance / changes needed"
NB offer of advice from AB members
Needs #84

[2018-06-27 13:03] #69 closed, assigned to benwbrum, PatReynolds, richpomfret

[2018-06-27 13:04] PatReynolds commented on #51
Final first draft of instructions sent to Geoff.  Awaiting password reset so I can make him an admin and invite in a transcriber for the trial

[2018-07-11 10:32] richpomfret commented on #67
Emailed Lemon. Should clarify list of URLs. Don't think we'll have much further movement on this for a week or two.

[2018-07-11 12:58] richpomfret opened #81 "Set-up FreePROBATE meeting"
Set up time and facilitate - to include/get regular updates from Saumya.

[2018-07-11 13:08] #77 closed, assigned to PatReynolds

[2018-07-11 13:12] richpomfret commented on #67
Pat to clarify URL list.

[2018-07-11 13:24] richpomfret commented on #78
Propose a letter of committment once the budget/deliverables have been ironed out. Still in discussion between Pat/Oliver.

[2018-07-11 13:40] richpomfret commented on #70
Done.

[2018-07-11 13:41] #70 closed, assigned to benwbrum

[2018-07-11 13:43] richpomfret commented on #4
Redundant so closing.

[2018-07-11 13:43] #4 closed, assigned to benwbrum, richpomfret

[2018-07-11 13:43] richpomfret commented on #2
Not needed - will create new, specific story if required.

[2018-07-11 13:43] #2 closed, assigned to PatReynolds, richpomfret

[2018-07-11 13:43] richpomfret commented on #6
Not needed - will create new, specific story if required.

[2018-07-11 13:43] #6 closed, assigned to richpomfret

[2018-07-11 13:44] richpomfret commented on #79
Done.

[2018-07-11 13:44] #79 closed, assigned to benwbrum

[2018-07-11 13:48] PatReynolds opened #82 "Set up FreeBMD+ trial on zooniverse"

[2018-07-11 13:52] richpomfret commented on #66
Closing - N/A

[2018-07-11 13:52] #66 closed, assigned to PatReynolds

[2018-07-25 13:00] richpomfret commented on #67
Lemon has secured the basic URLs for us now. We are still discussing server set-up.

[2018-07-25 13:00] richpomfret commented on #81
In the slot following New Projects.

[2018-07-25 13:17] richpomfret commented on #51
Discussion on new csi importer tool.

[2018-07-25 13:19] richpomfret opened #83 "New importer tool for CSi"
As part of the trial. Next step to explore setting up a file importer.

[2018-07-25 13:19] #51 closed, assigned to PatReynolds

[2018-07-25 13:23] richpomfret commented on #78
Won't happen this year due to lack of time left. @PatReynolds to speak to Oliver with regard to university time scales.

[2018-07-25 13:24] #81 closed, assigned to richpomfret

[2018-07-25 13:25] richpomfret commented on #72
We've opted out for this year.

[2018-07-31 08:12] PatReynolds commented on #72
Mentors _submit_, not Mentors _summit_ - we have opeted out of the latter, not the former.

[2018-08-03 14:38] PatReynolds commented on #26
@PatReynolds to create top level outline of how place validation will work, and how linked open data place will work(what queries, what results) to be used by @richardofsussex in talking with Humphrey.

[2018-08-08 13:12] #73 closed, assigned to richpomfret

[2018-08-08 13:26] richpomfret opened #84 "GSoC Project Postmortem"
Review our experience, what worked, what didn't and how we might change things next year.

[2018-08-08 15:23] PatReynolds opened #85 "Finalise road map/epics for FreePROBATE"

[2018-09-05 12:49] richpomfret commented on #7
Closing as no longer required.

[2018-09-05 12:49] #7 closed, assigned to richpomfret

[2018-09-05 12:58] richpomfret opened #86 "Set up server space for FreeProbate"
Discuss with Lemon.

[2018-09-05 13:09] #67 closed, assigned to richpomfret

[2018-09-05 13:10] #71 closed, assigned to nobody

[2018-09-05 13:10] #72 closed, assigned to benwbrum, PatReynolds, richpomfret

[2018-09-05 13:17] richpomfret opened #87 "Start moving FreeProbate stories onto new Waffle Project"
Begin using the new Waffle board for everything FreeProbate shaped.

[2018-09-05 13:29] #86 closed, assigned to richpomfret

[2018-09-05 13:29] #85 closed, assigned to richpomfret

[2018-09-05 13:30] #75 closed, assigned to richpomfret

[2018-09-05 13:33] #76 closed, assigned to nobody

[2018-09-05 13:33] #47 closed, assigned to PatReynolds

[2018-09-05 13:35] #74 closed, assigned to nobody

[2018-09-17 15:05] PatReynolds commented on #80
AB members contacted 17/09/2018

[2018-09-19 10:55] #87 closed, assigned to richpomfret

[2018-09-20 11:36] PatReynolds commented on #64
First attempt: https://docs.google.com/document/d/1iCs_GeDxF4uFchN9qPR_CQ6bQ2wU2zwD4FaMdhIC1TM/edit?usp=sharing

[2018-10-03 13:02] richpomfret commented on #84
@PatReynolds Do we have a date in the calendar for this yet?

[2018-10-10 08:37] PatReynolds opened #88 "Look at Big Lottery (Digital closes 3rd December 2018)"
https://www.biglotteryfund.org.uk/funding/programmes/digital-fund/strand-2

[2018-10-10 08:38] PatReynolds commented on #64
@RichPomfret and @Benwbrum to look at draft

[2018-10-16 16:56] PatReynolds commented on #52
https://www.theguardian.com/politics/2013/oct/18/foreign-office-historic-files-secret-archive
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/259290/Archive_inventory_for_publication_v.2.0_FINAL.csv is no longer there but it and later versions downloaded and now on FreeBMDplus folder.
Started document to analyse: https://docs.google.com/document/d/1z

[2018-10-17 13:22] richpomfret commented on #26
May be on hold due to funding - should find out in Dec.

[2018-10-17 16:01] richpomfret opened #89 "GSoC Application: 6 Feb 2019"
Deadline was on the 23rd Jan for '18, so presuming the same for this year. TBC.

[2018-10-19 10:49] PatReynolds commented on #89
https://developers.google.com/open-source/gsoc/timeline gives last year's.
I have downloaded it here https://drive.google.com/file/d/0BzRDUeF70MtpeGhFT1lJYTItNWs/view?usp=sharing

So ...  announcement of GSoc 2019 is "late" (according to last year).

We should _aim_ to have everything ready to go by the new year.
We should be prepared for a LOT of engagement mid-Feb to end-March
We should be prepa

[2018-10-22 13:41] PatReynolds opened #90 "Explore GSoD"
Google Summer of Docs - https://docs.google.com/presentation/d/1ABqCc5uAoQv9aqGCxmNqOJ9S_Tst-adNV3fcWQ2Quwc/edit#slide=id.g42b115f18c_1_27

[2018-10-22 13:46] PatReynolds commented on #90
Expressed interest 22/10/2018

[2018-10-24 11:44] PatReynolds opened #91 "Funding Applications for FreeBMD2 interface"

[2018-10-31 08:31] PatReynolds opened #92 "Investigate google code-in"
https://codein.withgoogle.com/

[2018-10-31 08:32] PatReynolds opened #93 "Contct HLF re FreePROBATE"

[2018-10-31 08:33] PatReynolds opened #94 "Invetigate funders for FreePROBATE"

[2018-10-31 08:34] PatReynolds opened #95 "Cost FreePROBATE / Type up notes of meeting with Francis"
needed by #94
needed by #93

[2018-10-31 14:18] #90 closed, assigned to PatReynolds

[2018-11-02 12:12] PatReynolds commented on #43
Sent @benwbrum questions for zooniverse 2/11/2018

[2018-11-07 11:27] PatReynolds commented on #94
HLF "We continue to be open to new applications for grants up to £100K (up to £250K for Resilient Heritage) under our current programmes until late January, for final decisions in March 2019."
https://www.hlf.org.uk/looking-funding/our-grant-programmes/our-heritage probably the right scheme (£10,00 0 - £100,000)

[2018-11-07 12:06] PatReynolds commented on #93
Draft enquiry form circulated 7/11/2018

[2018-11-14 10:25] PatReynolds opened #96 "Identify / Prioritise Summer of Code projects"

[2018-11-14 10:27] PatReynolds opened #97 "Groom 'Good first issue' labels"
Check 'Good first issue' is a good first issue (e.g. take off any issue that is no longer in  incoming or project backlog) and add back on where possible (e.g. needs review)

[2018-11-14 10:28] PatReynolds opened #98 "Refresh SOC page inc put GSoC projects onto iit"
Also check for any needed updates

Include FreeBMD2, FreePROBATE and Catholic Records

Needs #96

[2018-11-14 10:30] PatReynolds opened #99 "Link good first issue filtered waffle boards to Tech volunteers pages"
Needs #97

[2018-11-14 10:53] PatReynolds commented on #88
Contacted re Overseas records funding 14/11/2018

[2018-11-14 12:34] PatReynolds commented on #88
Submitted preliminary form - questions were (1) Briefly tell us about your organisation, the product or service that you have developed, and the people who will use it. and (2) Briefly tell us how digital technology is important to your project - I wanted to pitch for Hidden Jewels but didn't get the opportunity to say anything about the product or service that we WANT to develop!

[2018-11-14 12:48] PatReynolds opened #100 "Apply Xerox and Eranda for Rails Girls or Google Code-in"
Xerox concentrate on young people/children

Needs #110

[2018-11-14 13:06] PatReynolds commented on #91
February Foundation? Hollick Family Charitable Trust?

[2018-11-14 14:16] #80 closed, assigned to PatReynolds

[2018-11-14 14:16] #84 closed, assigned to PatReynolds

[2018-11-14 14:17] #88 closed, assigned to PatReynolds

[2018-11-14 14:17] #95 closed, assigned to PatReynolds, richpomfret

[2018-11-14 14:22] benwbrum commented on #43
Short answer is that our volunteers and coordinators still cannot choose or assign work.  Other aspects of Zooniverse are improving, but this is (at least for now) a blocker.

[2018-11-14 14:24] #15 closed, assigned to PatReynolds, carobin589

[2018-11-16 09:16] PatReynolds commented on #89
See new timetable: https://developers.google.com/open-source/gsoc/timeline

[2018-11-16 10:49] PatReynolds commented on #96
add/refine  FreeBMD2, FreePROBATE and Catholic Records projects

[2018-11-16 14:24] richpomfret opened #101 "GSoC '19 - Org app deadline Feb 6th"
January 15 20:00 UTC	Mentoring organizations can begin submitting applications to Google

February 6 20:00 UTC	Mentoring organization application deadline

[2018-11-16 14:26] richpomfret opened #102 "GSoC '19 - Feb 26th; Prepare for student discussions"
February 26 - March 25	Potential student participants discuss application ideas with mentoring organizations.

For this, we need to be on standby to provide information on the more popular project ideas from our list. Also have a clear pathway e.g. new SLACK channel for such discussions.

[2018-11-16 14:29] richpomfret opened #103 "GSoC '19 - April 9th: Review and accept student proposals"
April 9 18:00 UTC	Student application deadline
May 6 18:00 UTC	Accepted student proposals announced.

We need to ensure we have plenty of time to review the proposals, confer and agree.

[2018-11-16 14:30] richpomfret opened #104 "GSoC '19 - June 28th Mentor Evaluation Deadline"
June 24 18:00 UTC	Mentors and students can begin submitting Phase 1 evaluations

June 28 18:00 UTC	Phase 1 Evaluation deadline

[2018-11-16 14:31] richpomfret opened #105 "GSoC '19 - July 26th Mentor Evaluation Deadline 2"
July 22 18:00 UTC	Mentors and students can begin submitting Phase 2 evaluations

July 26 18:00 UTC	Phase 2 Evaluation deadline

[2018-11-16 14:32] richpomfret opened #106 "GSoC '19 - Aug 19th Final Week!"
August 19 - 26 18:00 UTC	Final week: Students submit their final work product and their final mentor evaluation

Make preparations for final mentor project evaluation.

[2018-11-16 14:33] richpomfret opened #107 "GSoC '19 - Sep 2nd Final Evaluation Deadline"
August 26 - Sept 2 18:00 UTC	Mentors submit final student evaluations

Final deadline for GSoC this year!

[2018-11-17 15:56] PatReynolds commented on #78
https://wellcome.ac.uk/funding/open-research-fund Last year closed August.

Contacted Oliver for timescales at our end, 17/11/2018

[2018-11-17 15:59] PatReynolds commented on #46
Checked 17/11/2018

[2018-11-20 16:59] PatReynolds commented on #97
Taken label off the two issues in progress. - @Denise can you proof the changes to the 'good first issue' page (Draft1)?
@richpomfret can you add Good first issue to anything that is not labelled, but should be?

[2018-11-28 10:19] PatReynolds commented on #52
Asked Allan to send recruitment message to Coords 28/11/2018

[2018-11-28 10:22] PatReynolds commented on #43
Yes - on CSI,  coords can assign batches of images (e.g. a census piece) to an individual, or individuals can choose to work on a particular batch (which might work for smaller consular BMD records, if we have them 'by invitation only' to transcribe.  'Anyone, anywhere' might also work for BMD, with double keying to ensure quality.

[2018-11-28 14:27] DeniseColbert commented on #97
Draft proofed and good to go

[2018-12-07 18:34] PatReynolds opened #108 "Linked Open Data - Place"
Epic to cover work relating to linked open data of place

[2018-12-07 18:37] PatReynolds opened #109 "Linked Open Data - people"

[2018-12-12 14:08] #93 closed, assigned to PatReynolds

[2018-12-12 14:09] richpomfret commented on #52
Survey has been sent. @PatReynolds to send through additional request.

[2018-12-12 14:13] richpomfret commented on #43
Closing - shall still try out Z but CSi looks like it had better/more apt functionality for us.

[2018-12-12 14:13] #43 closed, assigned to benwbrum, PatReynolds, DeniseColbert, richpomfret

[2018-12-12 14:20] PatReynolds opened #110 "Check deadlines for Ruby Girls and add stories 2/1/19"

[2018-12-12 14:37] PatReynolds commented on #110
Checked 12/12/2018 - nothing on website yet.

[2018-12-12 14:40] PatReynolds commented on #97
Draft published 12/12/2018

[2018-12-12 16:56] PatReynolds opened #111 "Contact other HLF genealogy projects"
Genealogy Centre	PETERHEAD
Newbiggin by the Sea Genealogy Project	NEWBIGGIN-BY-THE-SEA
Open Genealogy Alliance	London
Staunton Park Genealogy Centre	Havant
Upper Hopton Genealogy	MIRFIELD

[2018-12-18 15:57] PatReynolds commented on #94
HLF have said unlikely due to value, no new-to-heritage pull, and public accessibility at the TNA. 18/12/2018, so not proceeding

[2019-01-02 13:45] richpomfret commented on #64
Looks good to me. Will abbreviate this and provide a shortened version for our 'ideas list' page. Let me know if you spot anything @benwbrum or wish to add something to it and I can revise the ideas list as appropriate.

[2019-01-02 14:02] richpomfret commented on #97
Added label to a handful of issues - will look to do this as part of a weekly (or biweekly) process.

[2019-01-02 14:22] richpomfret commented on #99
@DeniseColbert to add now that a pass has been done on issue 97.

[2019-01-07 15:06] DeniseColbert commented on #99
This is done:

![image](https://user-images.githubusercontent.com/19173257/50775308-b6519780-128d-11e9-817b-e8bf32a4b474.png)

If this is ok, please close.

[2019-01-07 15:12] Captainkirkdawson commented on #99
Would it not be much better to have these sorts of links hidden by text  or
perhaps even better hidden by a forwarding link in a separate page?

Kirk Dawson
5220 Riverside Drive
Fairmont Hot Springs, B.C.
V0B 1L1

[2019-01-07 15:24] DeniseColbert commented on #99
That would be my preference, however I was updating links previously added by Pat. Can make this change if Pat agrees.

[2019-01-16 09:50] PatReynolds opened #112 "Consider / find funding for Outreachy 2020"
https://www.outreachy.org/mentor/ a long internship, we need to provide funds.

FOSS communities [i.e. us] need to have secured funding for at least one intern ($6,500). That covers the $5,500 internship stipend, the $500 intern travel stipend, and a $500 accounting fee. The accounting fee covers Outreachy's fiscal non-profit parent organization, Software Freedom Conservancy, handle sponsor invoic

[2019-01-16 12:55] PatReynolds commented on #110
Checked 16/1/2019 - nothing on website yet.  Wrote asking if we could fund-raise for a secured position, and if so, what we would need to achieve.

[2019-01-16 13:12] PatReynolds commented on #62
Initiial draft now shared

[2019-01-16 14:14] benwbrum commented on #64
Ben to assign to @PatReynolds after reviewing.

[2019-01-16 14:19] richpomfret commented on #99
Closing - agreed to create new story to cover best practice for links.

[2019-01-16 14:19] #99 closed, assigned to PatReynolds, DeniseColbert

[2019-01-16 15:20] PatReynolds opened #113 "Apply GSoD - closes for org applications 23/4"
https://developers.google.com/season-of-docs/docs/timeline
needs #119
needs #120

[2019-01-16 15:21] PatReynolds opened #114 "GSoD explore period late Apr / late May"

[2019-01-16 15:22] PatReynolds opened #115 "GSoD projects chosen by orgs July"

[2019-01-16 15:22] PatReynolds opened #116 "GSoD plan/bond August"

[2019-01-16 15:23] PatReynolds opened #117 "GSoD Work Sept - MidNov"

[2019-01-16 15:24] PatReynolds opened #118 "GSod Evaluation Late Nov"

[2019-01-16 15:25] PatReynolds opened #119 "Identify possible GSoD projects (Feb/March)"
Label and ensure issue is properly presented on project board

[2019-01-16 15:25] PatReynolds opened #120 "Create GSoD page on FUG Website Live by Friday 12th April"
Link to from the Tech Volunteer page.

needs #119

EG https://docs.readthedocs.io/en/stable/gsoc.html
EG https://groups.drupal.org/google-season-docs

[2019-01-30 14:02] PatReynolds commented on #110
Checked 30/1 Nothing yet. @DeniseColbert please check in two weeks.

[2019-02-13 13:53] richpomfret commented on #97
Done. Have set-up a reoccuring task to do this every sprint.

[2019-02-13 13:53] #97 closed, assigned to richpomfret

[2019-02-13 14:19] richpomfret opened #121 "Check actions from last GSoC"
Review previous actions and get prepared for GSoC 2019.

[2019-02-13 14:27] richpomfret commented on #89
Now complete.

[2019-02-13 14:27] #89 closed, assigned to nobody

[2019-02-27 14:21] #96 closed, assigned to richpomfret

[2019-02-27 14:21] #98 closed, assigned to DeniseColbert

[2019-03-13 15:35] #121 closed, assigned to richpomfret

[2019-03-13 15:36] #101 closed, assigned to PatReynolds, richpomfret

[2019-03-13 15:37] PatReynolds opened #122 "Select project for Pelagios"

[2019-03-13 15:38] benwbrum commented on #122
@benwbrum is happy to chat about this; see email thread on the subject (which we should perhaps move here)

[2019-03-13 17:50] DeniseColbert commented on #119
Early timeline:
![image](https://user-images.githubusercontent.com/19173257/54302256-71f9b500-45b8-11e9-9d9b-0421426a0f03.png)

[2019-03-27 14:15] PatReynolds opened #123 "Check deadlines for Rails Girls 2020"

[2019-03-27 14:15] PatReynolds opened #124 "Respond to Rails Girls consultation on future actions"

[2019-03-27 14:16] PatReynolds opened #125 "Reply to Rails Girls letter"

[2019-03-27 14:16] #110 closed, assigned to DeniseColbert

[2019-04-05 10:57] PatReynolds commented on #119
@richpomfret  @DeniseColbert  projects now up on the RG soc site: https://teams.railsgirlssummerofcode.org/projects/234-free-uk-genealogy please let me know if anything needs changing

[2019-04-05 10:58] #125 closed, assigned to PatReynolds

[2019-04-05 10:59] PatReynolds opened #126 "Finalise Rails Girls 2019 projects/application form"
Added us to the Rails girls project board.

[2019-04-05 11:00] PatReynolds commented on #126
@richpomfret @DeniseColbert projects now up on the RG soc site: https://teams.railsgirlssummerofcode.org/projects/234-free-uk-genealogy please let me know if anything needs changing
@DeniseColbert  could you modify the GSoC sign-up form, if a sign-up form is wanted?

[2019-04-05 12:43] DeniseColbert commented on #126
The last paragraph seems to have conflated 2 different ones? MongoDB Uni and Good First Issue

I wonder if the FutureLearn course might be a bit of an ask; 4 hours per week for 6 weeks.

Repo given is FreeREG- can we give the link to the FreeUKGEN page that lists all of our repos?

[2019-04-09 08:21] DeniseColbert commented on #120
Page skeleton: https://www.freeukgenealogy.org.uk/admin/entries/pages/2712-google-season-of-documentation

[2019-04-10 13:12] richpomfret commented on #122
Submitted.

[2019-04-10 13:12] #122 closed, assigned to richardofsussex, PatReynolds

[2019-04-10 13:17] richpomfret commented on #119
@DeniseColbert @richpomfret to review/proof this before it goes live (aiming for Friday as go-live date).

[2019-04-10 13:23] richpomfret commented on #124
Next steps include updating the current ideas list (GSoC) page and remove references to Google's SoC.

[2019-04-10 13:24] richpomfret commented on #124
Task for above.

[2019-04-10 13:24] #124 closed, assigned to PatReynolds

[2019-04-10 13:25] #102 closed, assigned to nobody

[2019-04-10 13:25] #103 closed, assigned to nobody

[2019-04-10 13:25] #104 closed, assigned to nobody

[2019-04-10 13:25] #105 closed, assigned to nobody

[2019-04-10 13:25] #106 closed, assigned to nobody

[2019-04-10 13:26] #107 closed, assigned to nobody

[2019-04-24 13:16] PatReynolds opened #127 "Seek Volunteer for Machine learning for CRS"
needs #64

[2019-04-24 13:34] PatReynolds commented on #64
Assigned @benwbrum  to look at further changes.

[2019-04-28 09:13] PatReynolds commented on #126
@DeniseColbert  I have made some updates to the page projects page,could you check and make live, please.

Update from waffle to zenhub in the page needed.

Cannot find the form.

[2019-05-22 13:23] #126 closed, assigned to PatReynolds, DeniseColbert

[2019-05-22 13:24] #27 closed, assigned to benwbrum, PatReynolds, carobin589

[2019-05-24 11:23] PatReynolds opened #128 "Apply for Google Impact Challenge on Safety for completing the Protection Policy with young people DEADLINE 28 June"
https://impactchallenge.withgoogle.com/safety2019/about

[2019-06-26 13:21] richpomfret commented on #78
@PatReynolds to update re: Oliver's response.

[2019-06-28 11:06] richpomfret commented on #128
@PatReynolds checked the draft this morning and looks good to me. :)

[2019-06-28 12:41] PatReynolds commented on #128
And it's in!  Had to trim/change in a couple of places due to word count.

[2019-07-10 13:08] #128 closed, assigned to PatReynolds

[2019-07-10 13:10] #78 closed, assigned to PatReynolds

[2019-07-10 13:13] richpomfret commented on #64
Let's look at reviewing these changes and getting the document prepared ahead of the next GSoC.

[2019-07-10 13:15] richpomfret commented on #26
Next steps - examine what's needed for Pelagios and linked data.

[2019-07-10 13:16] richpomfret commented on #91
Pat has started writing the application.

[2019-07-24 13:22] richpomfret commented on #82
MOved to 'on ice' as we are currently exploring creating our own online transcription software.

[2019-08-07 09:50] PatReynolds commented on #112
Basil Samuel - wrote querying submission times / suitability 7/8/2019

also concisder Eranda and Xerox

[2019-08-07 10:00] PatReynolds commented on #92
Emailed gci-support@google.com to see when it would open for applications from organizations 7/8/2019

[2019-08-07 10:06] PatReynolds commented on #46
https://esrc.ukri.org/funding/funding-opportunities/trans-atlantic-platform-t-ap-social-innovation/
notice re-focus:
"Following on from the successful T-AP Digging into Data Challenges we are pleased to confirm our participation in the new T-AP Social Innovation Call (T-AP-SI). The call is intended to support excellent humanities and social science research that can contribute meaningfully to the

[2019-08-07 13:12] richpomfret commented on #64
@benwbrum if you can take a brief look at this too then that would be great. Probably best not to leave it until we are preparing for the next GSoC.

[2019-08-07 13:13] richpomfret commented on #91
I've added a few comments to the current draft.

[2019-08-07 13:16] richpomfret commented on #92
Closing - shall create new story once they reply.

[2019-08-08 08:17] PatReynolds commented on #128
Winners will be announced 'early in 2020'

[2019-08-21 13:13] richpomfret opened #129 "Create application for Tech for Better"
As above.

[2019-09-04 12:55] #92 closed, assigned to richpomfret

[2019-09-23 09:18] PatReynolds opened #130 "Hidden Jewels"
Project folder: https://drive.google.com/open?id=1k2r8_Oz-RB68vNy7pvd3fTBHtCaVwf00

[2019-10-16 13:13] PatReynolds opened #131 "Apply Google Code-in"
Deadline 28th
Safeguarding policy item:

Practical advice to young researchers and young volunteers on dos and don'ts
This will be developed in collaboration with young volunteers.

Note: one task can be completed by several students - e.g. https://codein.withgoogle.com/archive/2018/task/5392965283348480/
https://codein.withgoogle.com/archive/2017/organization/5112544519782400/task/662947448959795

[2019-10-23 11:45] PatReynolds commented on #64
@benwbrum any update on this, before I reach out to the CRS to see if anyone is at RootsTech this week?

[2019-10-23 11:46] PatReynolds commented on #131
any thoughts on this? I will be submitting on Sunday 27th, if I can.

[2019-10-23 14:50] benwbrum commented on #64
I'm going to jump into this in the next hour.

On Wed, Oct 23, 2019 at 6:45 AM PatReynolds <notifications@github.com>
wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LLC
Creators of FromThePage <https://fromthepage.com/>

[2019-10-23 15:09] benwbrum commented on #64
I've added my comments.  The changes are minor, except for the likely need to address records of religious professions -- which are very similar to marriages but not covered by our models.

[2019-11-14 14:14] benwbrum commented on #112
If we reach out to them in December, we might get in their pipeline for summer 2020 (which starts in January).

[2019-12-10 09:22] PatReynolds opened #132 "GSOC 2020 Opens 14/1, closes 5/2"
Application Period January 14, 2020 - February 5, 2020 (email from Google circulated)

Tasks
- [ ] Check requirements and make stories
- [ ]  Choose preoject(s) to develop as GSoC projects (see dependencies)
- [ ]  Write up projects chosen
- [ ] Update our website / reactivate links

[2019-12-10 09:33] PatReynolds opened #133 "Look at The Fore for funding"
https://www.thefore.org/

[2019-12-12 13:23] PatReynolds opened #134 "London 1871 Epic (FreeCEN)"
2021 will be 150 years from the 1871 census of London (and rest of the UK).
London 1871 is a mini-project for FreeCEN, including:
Adapting the image software for use on FreeCEN (#704)
Helen B. uploading and arranging the images
Recruiting new Coords for London
Creating an online training module (#117)
Launch (? at another major event)?
Recruiting new transcribers
Improving the search for London (a

[2020-01-08 14:07] #123 closed, assigned to nobody

[2020-01-08 14:08] PatReynolds opened #135 "Select projects for Rails Girls"

[2020-01-08 14:08] PatReynolds opened #136 "Confirm timetable for Rails Girls"
https://railsgirlssummerofcode.org/guide/projects/

Dec 2019 & Jan 2020: Call for Projects
Jan 2020: Crowdfunding campaign begins
Feb 2020: Student applications
May 2020: Successful teams announced
01 July 2020: Kickoff RGSoC!
30 Sep 2020: Last day of RGSoC projects

[2020-01-08 14:08] PatReynolds opened #137 "Write projects up for Rails Girls"

[2020-01-08 14:08] PatReynolds opened #138 "Rails Girls Epic"

[2020-01-08 14:09] PatReynolds opened #139 "Check timetable for GSoC"

[2020-01-08 14:09] PatReynolds opened #140 "Choose projects for GSoC"

[2020-01-08 14:09] PatReynolds opened #141 "Write up projects for GSoC"

[2020-01-08 14:09] PatReynolds opened #142 "Apply GSoC 2021"

[2020-01-08 14:10] PatReynolds opened #143 "Google Summer of Code Epic"

[2020-01-08 14:28] PatReynolds opened #144 "Update Summer of Code Page as two pages, each with two potential projects"

[2020-01-08 14:29] PatReynolds opened #145 "Check requirements for GSOC and RG, and make stories as needed"

[2020-01-15 09:06] PatReynolds commented on #139
Open today (15/1/2020) and closes 4/2/2020)

[2020-01-15 09:06] #139 closed, assigned to nobody

[2020-01-15 09:11] PatReynolds opened #146 "GSoC student applications open March 16-31."

[2020-01-29 14:10] PatReynolds commented on #135
Selected for 2020 (but not pursued due to insufficient mentor time available: bleedthrough issue (Helen B. willing to be contact person).

[2020-01-29 14:14] PatReynolds opened #147 "UK- Ireland Collaboration in the Digital Humanities Networking Call"
See if anyone wants to work with us / our data

[2020-01-29 14:17] PatReynolds opened #148 "Investigate Knowledge Transfer Partnerships (KTPs)"
https://ahrc.ukri.org/funding/apply-for-funding/current-opportunities/knowledgetransferpartnerships/

[2020-01-29 14:19] PatReynolds commented on #46
Checked Jan 2020.  Check again May 20

[2020-01-29 14:21] PatReynolds commented on #129
Remove Rich and add Pat to action.